/*-- scss:defaults --*/

// Colors
$blue-gray: #3E4254;
$dark-blue: #3A3B60;
$eggshell: #F8F3E6;
$gray: #64605f;
$light-gray: #dfdfeb;
$blue: #4d5887;
$teal: #93c7c2;
$orange: #f5bc5f;
$pink: #f53b5d;

// Base document colors
$navbar-bg: $dark-blue; // navbar
$navbar-fg: $light-gray; // navbar foreground elements
$navbar-hl: $teal; // highlight color when hovering over navbar links
$body-bg: $eggshell; // page background 
$body-color: $blue-gray; // page text 
$footer-bg: $eggshell; // footer 
$link-color: $blue; // hyperlinks 

// fonts
$font-family: Consolas,monaco,monospace;

//toc 
$toc-font-size: 14px;
$toc-active-border: $teal;

// callouts
$callout-color-note: $blue;
$callout-color-tip: $teal;
$callout-color-caution: $orange;
$callout-color-important: $pink;


/*-- scss:rules --*/

body {
  font-size: 16px;
  font-family: $font-family;
}

.left {
  text-align: left;
  padding-left: 1em;
}
.right {
  text-align: right;
  padding-right: 1em;
}
